@model List<WebApplication1.Models.AP_Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
            <span id="alt-msge">
                You successfully insert the record.
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8">
                                    Attendance
                                </div>
                                <div class="col-md-4">
                                    <button id="save" class="btn btn-info btn-block">
                                        <i class="fas fa-save"></i>&nbsp;
                                        <span>Save</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group batch_name_list">
                                            <label for="batch_name" class="control-label mb-1">Course Name:</label>
                                            <select class="form-control" id="batch_name_list">
                                                <option value="0">--Select--</option>
                                                @foreach (var s in ViewBag.course as List<WebApplication1.Models.Batch_header>)
                                                {
                                                    <option value="@s.Bh_id">@s.Batch_Name</option>
                                                }
                                            </select>
                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a Course Name</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="batch_name" class="control-label mb-1" style="visibility:hidden;">Course Name:</label>
                                        <button id="fetch" class="btn btn-info btn-block">
                                            <span>Fetch</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>S/No.</th>
                                        <th>Student Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="std_details"></tbody>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">

                </div>
            </div>
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }

    .message {
        display: none;
        position: fixed;
        z-index: 1;
        left: 40%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#fetch').click(function (e) {
            e.preventDefault();
            allvalid = true;

            if ($('#batch_name_list').val() == 0) {
                allvalid = false;
                $('#std_details').empty();
                $('.batch_name_list .error').css('display', 'block');
            }
            else {
                $('.batch_name_list .error').css('display', 'none');
            }

            if (allvalid) {
                $.ajax({
                    type: 'POST',
                    url: '/New_Attendance/get_att_data',
                    data: {
                        'batch_name': $('#batch_name_list').val(),
                    },
                    success: function (resp) {
                        console.log(resp)
                        $('#std_details').empty();
                        $.each(resp, function (i, item) {
                            i = i + 1;
                            $('#std_details').append('<tr> <td>' + i + ' </td><td class="att_value collapse">' + item.Value + ' </td><td>' + item.Text + ' </td> <td> <label><input type="radio" name="att' + i + '" value="P">&nbsp;Present</label> </td> <td> <label><input type="radio" name="att' + i + '" value="A" checked >&nbsp;Abcent</label> </td> </tr>')

                        });
                    }

                });
            }
        })

        $('#save').click(function (e) {
            e.preventDefault();
            var isAllValid = true;

            if (isAllValid) {

                var list = [];
                $('#std_details tr').each(function (index, ele) {
                    index = index + 1;
                    var orderItem = {
                        stud_id: $('.att_value', this).text(),
                        Att_status: $('input[name="att' + index + '"]:checked', this).val(),
                    }
                    JSON.stringify(orderItem)
                    list.push(orderItem);
                })
                if (list.length == 0) {
                    $('#orderItemError').text('At least 1 record required.');
                    isAllValid = false;
                }

                debugger
                var data = {
                    BH_id: $('#batch_name_list').val(),
                    Attendance_dtl: list
                    
                }
                debugger

                $.ajax({
                    type: 'POST',
                    url: '/New_Attendance/Index',
                    data: {
                        'BH_id': data.BH_id,
                        'Attendance_dtl': data.Attendance_dtl,
                    }
                    ,
                    success: function (resp) {
                        if (resp.status) {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#message').removeClass('alert-danger').addClass('alert-success');
                            $('#alt-msge').text("You have successfully take today attendance.");
                            $('#batch_name_list').val(0);
                            $('#std_details').empty();
                        }
                        else {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#message').removeClass('alert-success').addClass('alert-danger');
                            $('#alt-msge').text("This course attendance already have today.");
                        }
                    }

                });

            }
        })

    });
</script>
